orquestrators/docker-compose/docker-compose.yml
orquestrators/docker-compose/docker-compose.yml-e
orquestrators/rancher-kubernetes/topublish/configmaps.yaml
orquestrators/rancher-kubernetes/topublish/deploys-svc.yaml
orquestrators/rancher-kubernetes/topublish/ingress.yaml
orquestrators/rancher-kubernetes/topublish/jobs.yaml
orquestrators/rancher-kubernetes/topublish/pvc.yaml
orquestrators/rancher-kubernetes/topublish/secrets.yaml
orquestrators/rancher-kubernetes/topublish/statefullsets.yaml
tests/Selenium/PythonExported/__pycache__
tests/Selenium/PythonExported/resultado.xml
tests/Selenium/PythonExported/test_suiteBasics-executar.py
tests/Selenium/PythonExported/test_suiteBasics-executar.py-e
