.DS_Store
containers/envcontainers.env
infra/orquestrators/docker-compose/docker-compose.yml
infra/orquestrators/docker-compose/docker-compose.yml-e
infra/orquestrators/rancher-kubernetes/topublish/configmaps.yaml*
infra/orquestrators/rancher-kubernetes/topublish/deploys-svc.yaml*
infra/orquestrators/rancher-kubernetes/topublish/ingress.yaml*
infra/orquestrators/rancher-kubernetes/topublish/jobs.yaml*
infra/orquestrators/rancher-kubernetes/topublish/pvc.yaml*
infra/orquestrators/rancher-kubernetes/topublish/secrets.yaml*
infra/orquestrators/rancher-kubernetes/topublish/statefullsets.yaml*
infra/tests/Selenium/PythonExported/__pycache__
infra/tests/Selenium/PythonExported/resultado.xml
infra/tests/Selenium/PythonExported/test_suiteBasics-executar.py
infra/tests/Selenium/PythonExported/test_suiteBasics-executar.py-e
