# aqui apenas a diferenca para a nova base
# cole antes aqui o envlocal-example-mysql-sei4.env

export DOCKER_IMAGE_BD=${DOCKER_REGISTRY}/mysql8-sei41:latest
export DOCKER_IMAGE_SOLR=${DOCKER_REGISTRY}/solr9.4.0:latest
export DOCKER_IMAGE_APP=${DOCKER_REGISTRY}/app-ci-php8:latest
export DOCKER_IMAGE_APP_AGENDADOR=${DOCKER_REGISTRY}/app-ci-php8-agendador:latest
