div.infraAreaGlobal {background-color: #f5f5f5 !important;}
div.infraBarraComandos {background-color: #f5f5f5 !important; border-color: #f5f5f5 !important;}
div.infraBarraSistema {padding:.2em 0 .3em 0;}
div.infraBarraSistemaE {width:90%;}
div.infraBarraSistemaD {width:5%;}
div.infraAreaTelaD {border:0;}
div.infraAreaDados {border:0}